@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif, Helvetica;
    background-image: url(img/chapada-dos-guimaraes-mato-grosso-zarpo-magazine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
}